In [ ]:
s = input('Enter the string: ')
s.lower()

In [ ]:
a = "Robert Brett Roser"
a = a.split()
print(a)
print(a[0][0])
b = a[0][0]+"."+a[1][0]+"."+a[2]
print(b)

In [ ]:
a = "Robert Brett Roser"
a = a.split()
print(a[0][0])
print(a[1][0])
print(a[2])
b = a[0][0]+"."+a[1][0]+"."+a[2]
print(b)

In [85]:
s = input('Enter the string: ')
l = 0
for i in s:
    l+= 1
print('The length of the string: ',l)

Enter the string: arvind kuamr
The length of the string:  12

In [5]:
l = ['arvind','engineering','kumar']
words = []
for i in l:
    words.append((len(i),i))
    
words.sort()
print(words)
print(words[-1][1])

[(5, 'kumar'), (6, 'arvind'), (11, 'engineering')]
engineering

In [9]:
L = []
n = int(input('Enter the number of words: '))
for i in range(n):
    w = input('Enter the word: ')
    L.append(w)
print('The list is: ',L)
words = []
for i in L:
    words.append((len(i),i))
words.sort()
print('The longest word is: ',words[-1][1])

Enter the number of words: 3
Enter the word: Arvind
Enter the word: Kumar
Enter the word: Engineer
The list is:  ['Arvind', 'Kumar', 'Engineer']
The longest word is:  Engineer

In [16]:
s  = input('Enter the string: ')
char = s[0]
s = s.replace(char,'$')
# print(s)
s = char + s[1:]
print(s)

Enter the string: aravindaa
$r$vind$$
ar$vind$$

# Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [17]:
a = 'abc'
b = 'xyz'
new_a = b[:2]+a[2:]
new_b = a[:2]+b[2:]
s = new_a+' '+new_b
print(s)

xyc abz

In [18]:
a = input('Enter the first String: ')
b = input('Enter the second String: ')
new_a = b[:2]+a[2:]
new_b = a[:2]+b[2:]
s = new_a+' '+new_b
print(s)

Enter the first String: arvind
Enter the second String: kumar
kuvind armar

# Write a program to arrange input string (the combination of the lower and upper case) characters such that lowercase letters should come first.

In [26]:
s = input('Enter the string: ')
lower = []
upper = []
for i in s:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
s1 = ''.join(lower + upper)
print(s1)

Enter the string: arvindKHARWALkumar
arvindkumarKHARWAL

# Write a program to count all lower case, upper case, digits, and special symbols from a given string

In [29]:
s = input('Enter the string: ')
lcharcount = 0
ucharcount = 0
digitcount = 0
symbolcount = 0
for i in s:
    if i.islower():
        lcharcount+=1
    elif i.isupper():
        ucharcount+=1
    elif i.isnumeric():
        digitcount+=1
    else:
        symbolcount+=1

print("Lowercase Chars = ", lcharcount, "Uppercase Chars = ", ucharcount,"Digits = ", digitcount, "Symbol = ", symbolcount)

Enter the string: arvKUMAR12534*&^%
Lowercase Chars =  3 Uppercase Chars =  5 Digits =  5 Symbol =  4

# Remove special symbols/Punctuation from a given string

In [44]:

s = "/*Jon is @developer & musician"
table = s.maketrans('', '', string.punctuation)
print(s)
s1 = s.translate(table)
print(s1)

/*Jon is @developer & musician
Jon is developer  musician

In [45]:
trg = input('Enter the string: ')
str1 = "k"
str2 = "P"
str3 = "g"
table = trg.maketrans(str1, str2, str3) 
print ("The string before translating is : ",trg)
s = trg.translate(table)
print(s)

Enter the string: hello kggython
The string before translating is :  hello kggython
hello Python

In [5]:
trg = input('Enter the string: ')
str1 = "onn"
str2 = "off"
str3 = "g"
table = trg.maketrans(str1, str2, str3) 
print ("The string before translating is : ",trg)
s = trg.translate(table)
print(s)

Enter the string: python
The string before translating is :  python
pythof

In [46]:
trg = input('Enter the string: ')
str3 = "0123456789"
table = trg.maketrans('','', str3) 
print ("The string before translating is : ",trg)
s = trg.translate(table)
print(s)

Enter the string: arvind1024 kkgkg45
The string before translating is :  arvind1024 kkgkg45
arvind kkgkg

In [47]:
trg = input('Enter the string: ')
str3 = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
table = trg.maketrans('','', str3) 
print ("The string before translating is : ",trg)
s = trg.translate(table)
print(s)

Enter the string: arvind12367586868&5858
The string before translating is :  arvind12367586868&5858
12367586868&5858

In [48]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])
print(res)

Original string is I am 25 years and 10 months old
2510

# Write a program to remove all the characters other than integers from string

In [54]:
s = input('Enter the string: ')
print("Original string is", s)

for item in s:
    if item.isdigit():
        print(item,end='')

Enter the string: i am 40 years old and born in 1983
Original string is i am 40 years old and born in 1983
401983

# He said,"what's is going on"

In [2]:
print('''He said,"what's is going on" ''')

He said,"what's is going on"

In [8]:
print('He said,"what\'s is going on" ')

He said,"what's is going on"

In [10]:
print("He said,\"what's is going on\"")

He said,"what's is going on"

In [11]:
s = input('Enter the string: ')
print(len(s))

Enter the string: arvind
6

In [13]:
print('{0:e}'.format(152.2545))

1.522545e+02

In [21]:
s = input('Enter the string: ')
l = s.split()
print(l)

Enter the string: arvind kumar kharwal singh actolaze
['arvind', 'kumar', 'kharwal', 'singh actolaze']

In [ ]:
s = input('Enter the string: ')
l = s.split(' ', 3)
print(l)

In [30]:
l = ['this','is','list']
t = ['this','is','tuple']
set1 = {'this','is','set'}
s = ' '.join(l)
s1 = ' '.join(t)
s2 = ' '.join(set1)
print(s)
print(s1)
print(s2)

this is list
this is tuple
this set is

In [35]:
s = input('Enter the string: ')
s.find('k')

Enter the string: arvindk

6

In [ ]:
s = input('Enter the string: ')
print(s)
sub = input('Enter the sub string:')
s.find(sub)

In [37]:
s = input('Enter the string: ')
print(s)
sub = input('Enter the sub string:')
s.find(sub,3,8)

Enter the string: arvind kumar
arvind kumar
Enter the sub string:k

7

In [39]:
s = input('Enter the string: ')
print(s)
sub = input('Enter the string to be replace:')
s.replace('arvind',sub)

Enter the string: arvind kumar kharwal
arvind kumar kharwal
Enter the string to be replace:tinku

'tinku kumar kharwal'

In [41]:
s = input('Enter the string: ')
print(s)
res = s.isalnum()
print(res)

Enter the string: arvind124
arvind124
True

In [43]:
s = input('Enter the string: ')
print(s)
res = s.isalpha()
print(res)

Enter the string: arvin34
arvin34
False

In [45]:
s = input('Enter the string: ')
print(s)
res = s.isdigit()
print(res)

Enter the string: 223345
223345
True

In [47]:
s = input('Enter the string: ')
print(s)
res = s.isspace()
print(res)

Enter the string:

True

In [87]:
s = ' Arvind'
print(s)
res = s.lstrip(' ')
print(res)

 Arvind
Arvind

In [88]:
s = 'Arvind '
print(s)
res = s.rstrip(' ')
print(res)

Arvind
Arvind

In [66]:
s = 'welcome '
print(s)
res = s.lstrip('w')
print(res)

welcome
come

In [91]:
s = 'welcome'
print(s)
res = s.rstrip('ome')
print(res)

welcome
welc

In [81]:
s = input('Enter the string: ')
print(s)
res = s.title()
print(res)

Enter the string: arvind kumar
arvind kumar
Arvind Kumar

In [82]:
s = input('Enter the string: ')
print(s)
res = s.capitalize()
print(res)

Enter the string: arvind kuamr kharwal
arvind kuamr kharwal
Arvind kuamr kharwal

In [83]:
s = input('Enter the string: ')
print(s)
res = s.swapcase()
print(res)

Enter the string: arvinD KUMAR
arvinD KUMAR
ARVINd kumar