In [1]:
q = 5
p = 10.71
p*q

53.550000000000004

In [2]:
10 + _

63.550000000000004

In [3]:
round(_,1)

63.6

In [5]:
var = 'Hello' 'Arvind'
var

'HelloArvind'

In [6]:
'Hello' 'Arvind'

'HelloArvind'

In [8]:
c = 10,20
c

(10, 20)

In [7]:
a,b = 10,20
print(a,b)

10 20

In [9]:
n1,*n2 = 1,2,3,4,5
print(n1,n2)

1 [2, 3, 4, 5]

In [10]:
n1,*n2 = 1,2,3,4,5
print(n1)
print(n2)

1
[2, 3, 4, 5]

In [11]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for i in days:
    print(i)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [13]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for i,j in enumerate(days):
    print(i,j)

0 Sunday
1 Monday
2 Tuesday
3 Wednesday
4 Thursday
5 Friday
6 Saturday

In [14]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for i,j in enumerate(days,start=1):
    print(i,j)

1 Sunday
2 Monday
3 Tuesday
4 Wednesday
5 Thursday
6 Friday
7 Saturday

In [16]:
table = [3 * i for i in range(1,11)]
print(table)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [17]:
table = [5 * i for i in range(1,11)]
print(table)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [22]:
for k in range(1,11):
    print([k * i for i in range(1,11)])
#print(table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
myprint = print
myprint('I can print anything')

I can print anything

In [24]:
date = ['12','December','2020']
'/'.join(date)

'12/December/2020'

In [26]:
def fun():
    '''Hello this is sample'''
    print('Hello')

Hello
Automatically created module for IPython interactive environment

In [27]:
fun()    
print(__doc__)

Hello
Automatically created module for IPython interactive environment

In [28]:
len(__doc__)

64

# Multiple assingment using input

In [6]:
x,y = input('Enter the numbers: ').split()
print(x,y)

Enter the numbers: 54 21
54 21

In [7]:
x,y = int(input('Enter the numbers: ')).split()
print(x,y)

Enter the numbers: 24 54

ValueError: invalid literal for int() with base 10: '24 54'

In [8]:
x,y = input('Enter the numbers: ').split()
x = int(x)
y = int(y)
print(x,y)

Enter the numbers: 54 32
54 32

In [10]:
x,y,z,w = input('Enter the numbers: ').split()
x = int(x)
y = int(y)
w = int(w)
z = int(z)
print(x,y,z,w)

Enter the numbers: 4 5 2 1
4 5 2 1

# Multiple conditions in a list

In [15]:
a=15
b=25
c=35
if a>10 and b>20 and c>30:
    print('Python')
else:
    print('Django')

Python

In [14]:
a=5
b=25
c=35
if a>10 and b>20 and c>30:
    print('Python')
else:
    print('Django')

Django

# all()

In [17]:
a=15
b=25
c=35
conditions = [
    a>10,
    b>20,
    c>30
]
if all(conditions):
    print('Python')
else:
    print('C')

Python

In [18]:
a=5
b=15
c=35
if a>10 or b>20 or c>30:
    print('Python')
else:
    print('Django')

Python

In [19]:
a=5
b=15
c=25
if a>10 or b>20 or c>30:
    print('Python')
else:
    print('Django')

Django

# any()

In [20]:
a=5
b=15
c=35

conditions = [
    a>10,
    b>20,
    c>30
]
if any(conditions):
    print('Python')
else:
    print('Django')

Python

# remove duplicates

In [22]:
a = [1,2,3,4,1,2,3,4,2,3,3,2,2,5,7,8,6,2,1]
print(a)
a=list(set(a))
print(a)

[1, 2, 3, 4, 1, 2, 3, 4, 2, 3, 3, 2, 2, 5, 7, 8, 6, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
a = [1,2,3,4,1,2,3,4,2,3,3,2,2,5,7,8,6,2,1]
print(a)
m = max(set(a),key=a.count)
print(m)

[1, 2, 3, 4, 1, 2, 3, 4, 2, 3, 3, 2, 2, 5, 7, 8, 6, 2, 1]
2

In [28]:
a = [1,2,3,4,1,2,3,4,2,3,3,2,2,5,7,8,6,2,1]
print(a)
m = max(set(a),key=a.count)
print(m)

[1, 2, 3, 4, 1, 2, 3, 4, 2, 3, 3, 2, 2, 5, 7, 8, 6, 2, 1]
2

In [29]:
odd = []
for i in range(11):
    if i%2==1:
        odd.append(i**2)
print(odd)

[1, 9, 25, 49, 81]

In [30]:
odd = []
even = []
for i in range(11):
    if i%2==0:
        odd.append(i**2)
    else:
        even.append(i**2)
print(even,odd)

[1, 9, 25, 49, 81] [0, 4, 16, 36, 64, 100]

In [31]:
for k in range(1,11):
    print([k * i for i in range(1,11)])
#print(table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]