In [ ]:
l = [1,10,23,4,7,10]
l.count(10)

In [ ]:
l1 = [50,21,4,1,45]
l1.sort(reverse=True)
l1

In [ ]:
l2 = [4,5,6,8,9,2]
l2.reverse()
l2
l2.index(6)

In [ ]:
a = []
print(a)

In [ ]:
l1 = list((21,4,5,50.3,'arv'))
print(l1)

In [ ]:
l1[-2]

In [ ]:
l1

In [ ]:
l1[1]=50
l1

In [ ]:
l1.append(98)
l1

In [ ]:
l1
l2= ['a','h',5.2]
l1.append(l2)
l1

In [ ]:
l1.extend(l2)
l1

In [ ]:
l2 = [1,2,3]
l3 = [5,6,7]
l2 = l2+l3
#l2.extend(l3)
print(l2)

In [ ]:
l2*4

In [1]:
names = []
for i in range(5):
    n = input('Enter the name:')
    names.append(n)
    
print('The entered names are:',names)
names.sort()
print('The sorted names are',names)

Enter the name:arvi
Enter the name:mini
Enter the name:reshu
Enter the name:maanu
Enter the name:nonu
The entered names are: ['arvi', 'mini', 'reshu', 'maanu', 'nonu']
The sorted names are ['arvi', 'maanu', 'mini', 'nonu', 'reshu']

In [4]:
names=[]
marks=[]
for i in range(3):
    n=input('Enter the names:')
    m=int(input('Enter the Marks:'))
    names.append(n)
    marks.append(m)
    
h=max(marks)
l=min(marks)
print('The highest marks are',h)
print('The lowest marks are',l)
for i in range(3):
    if h==marks[i]:
        print('student having highest marks is',names[i])
    if l==marks[i]:
        print('student having lowesst marks is',names[i])

Enter the names:arvind
Enter the Marks:56
Enter the names:amit
Enter the Marks:65
Enter the names:kukku
Enter the Marks:87
The highest marks are 87
The lowest marks are 56
student having lowesst marks is arvind
student having highest marks is kukku

In [6]:
l = [10,20,54,30,60,75]
n=int(input('Enter the number to be inserted in the list:'))
pos=int(input('Enter the position:'))
l.insert(pos,n)
print('The list is',l)

Enter the number to be inserted in the list:566
Enter the position:3
The list is [10, 20, 54, 566, 30, 60, 75]

In [10]:
L = [1,2,23,45,50,2,2,100]
n = int(input('Enter the number:'))
if n in L:
    print(n,'is present in the list and it is available',L.count(n),'times')

Enter the number:2
2 is present in the list and it is available 3 times

In [5]:
numbers = []
for i in range(5):
    num = int(input('Enter the numbers'))
    numbers.append(num)
print(numbers)
h=max(numbers)
l=min(numbers)
print('The highest number is',h)
print('The lowest number is',l)

Enter the numbers3
Enter the numbers10
Enter the numbers20
Enter the numbers30
Enter the numbers40
[3, 10, 20, 30, 40]
The highest number is 40
The lowest number is 3

In [7]:
n = int(input('How many numbers will be there?:'))
numbers = []
for i in range(n):
    num = int(input('Enter the numbers'))
    numbers.append(num)
print(numbers)
h=max(numbers)
l=min(numbers)
print('The highest number is',h)
print('The lowest number is',l)

How many numbers will be there?:5
Enter the numbers10
Enter the numbers20
Enter the numbers30
Enter the numbers40
Enter the numbers50
[10, 20, 30, 40, 50]
The highest number is 50
The lowest number is 10

In [12]:
n = int(input('How many numbers will be there?'))
numbers = []
for i in range(n):
    num = int(input('Enter the number:'))
    numbers.append(num)
print('The numbers are',numbers)
max1 = max(numbers)
numbers.remove(max1)
max2=max(numbers)
print('The Second maximum number is',max2)

How many numbers will be there?3
Enter the number:54
Enter the number:63
Enter the number:5
The numbers are [54, 63, 5]
The Second maximum number is 54