In [6]:
a = int(input('Enter the first number:'))
b = int(input('Enter the Second number:'))
print('The numbers before swapping are',a,b)
b,a=a,b
print('The numbers sfter swapping are',a,b)

Enter the first number:10
Enter the Second number:20
The numbers before swapping are 10 20
The numbers sfter swapping are 20 10

In [8]:
import math

In [9]:
r = int(input('Enter the first radius:'))
area=math.pi*r*r
print('The area is',area)

Enter the first radius:2
The area is 12.566370614359172

In [10]:
bs=int(input('Enter the basic salary'))
da = 0.40*bs
hra=0.20*bs
gs=bs+da+hra
print('The basic salary is',gs)

Enter the basic salary100
The basic salary is 160.0

In [13]:
a=int(input('Enter the marks'))
b=int(input('Enter the marks'))
c=int(input('Enter the marks'))
d=int(input('Enter the marks'))
e=int(input('Enter the marks'))
agg=a+b+c+d+e
per=agg/5
print('Aggregate is',agg)
print('Percentage is',per)

Enter the marks50
Enter the marks60
Enter the marks70
Enter the marks80
Enter the marks90
Aggregate is 350
Percentage is 70.0

In [19]:
sum=0
n=int(input('Enter the five digit number'))
for i 
while n>0:
    a=n%10
    sum=sum+a
    n=n/10
print('The sum of five digit is',sum)

Enter the five digit number12345
The sum of five digit is 16.666666666666664

In [24]:
y=int(input('Enter the year'))
if y%100==0:
    if y%400==0:
        print('leap year')
    else:
        print('Not leap Year')
else:
    if y%4==0:
        print('Leap year')
    else:
        print('Not leap year')

Enter the year1100
Not leap Year

In [28]:
y=int(input('Enter the year'))
if (y%100==0)and(y%400==0)or(y%100!=0)and(y%4==0):
    print('Leap year')
else:
    print('Not leap year')

Enter the year1100
Not leap year

In [8]:
y=input('Enter the year')
print(y)
type(y)

Enter the year54
54

str

In [11]:
x=int('10')
print(x)
type(x)

10

int

In [12]:
eval('2+6')

8

In [13]:
x1=10
y1=20
print('The x is {} and y is {}'.format(x1,y1))

The x is 10 and y is 20

In [15]:
print('The vale is {1}, and {0}'.format(10,20))

The vale is 20, and 10

In [18]:
print('The vale is {0}, and {1}'.format('arvind','kumar'))

The vale is arvind, and kumar

In [19]:
print('Hello {name} from {sir}'.format(name='Arvind',sir='Kharwal'))

Hello Arvind from Kharwal

In [9]:
n=int(input('Enter the number'))
for i in range(1,11):
    print(n,'*', i, '=', n*i)

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [9]:
fact=1
num=int(input('Enter the number'))
for i in range(1,num+1):
    fact=fact*i
print('The factorial is',fact)

Enter the number5
The factorial is 120

In [13]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [15]:
num=int(input('Enter the number'))
c=0
for i in range(1,num+1):
    if (num%i)==0:
        c=c+1   
if c==2:
    print('prime number')
else:
    print('Not Prime')

Enter the number32
Not Prime

In [14]:
n=int(input("Enter the terms"))
a=0                                         
b=1                                         
print(a,b,end=" ")
for i in range(2,n):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

Enter the terms5
0 1 1 2 3

In [23]:
n=int(input("Enter the terms"))
sum = 0
t = n
while t > 0:
    a = t % 10
    sum = sum + a **3
    t= t//10  
if n == sum:
    print(n,"is an Armstrong number")  
else:
    print(n,"is not an Armstrong number")

Enter the terms124
124 is not an Armstrong number

In [24]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            print(i,j,k)

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

In [34]:
for i in range(5):
    for j in range(1,i+2):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [36]:
for i in range(5):
    for j in range(1,i+2):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [37]:
k=1
for i in range(5):
    for j in range(1,i+2):
        print(k,end=' ')
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [42]:
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [47]:
for i in range(5):
    for j in range(5):
        print(j,end=' ')
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [50]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [63]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [66]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [67]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [75]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [90]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i,end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [91]:
for i in range(5):
    for j in range(5,i,-1):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4